<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>RelogServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>servlets.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoFrame</servlet-name>
    <servlet-class>servlets.PhotoFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoFrame</servlet-name>
    <url-pattern>/PhotoFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoGrid</servlet-name>
    <servlet-class>servlets.PhotoGrid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoGrid</servlet-name>
    <url-pattern>/PhotoGrid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Share</servlet-name>
    <servlet-class>servlets.Share</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Share</servlet-name>
    <url-pattern>/Share</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tag</servlet-name>
    <servlet-class>servlets.Tag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tag</servlet-name>
    <url-pattern>/Tag</url-pattern>
  </servlet-mapping>
</web-app>